PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=ltoWFqOgfC6B8eVs6Kj2YLxyyXCvwgcu
SESSION_DRIVER=cookie
CACHE_VIEWS=false

DB_CONNECTION=pg

SMTP_HOST=localhost
SMTP_PORT=587
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>

GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret
PG_HOST=localhost
PG_PORT=5432
PG_USER=lucid
PG_PASSWORD=
PG_DB_NAME=lucid

MQTT_URL=
MQTT_PORT=
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_CLIENT_ID=
